.Test {
  width: 200px;
  height: 200px;
  /* border-radius: 50% 40% 60% 50% / 60% 50% 40% 50%; */
  /* animation: BorderAnimation 8s ease-in-out infinite alternate; */
  border: 2px solid ;

border-radius: 10px;
}
.Test > *{
    transform: translate(20px,20px);
border-radius: 10px;

}


@keyframes BorderAnimation {
  from {
    border-radius: 50% 40% 60% 50% / 60% 50% 40% 50%;
  }
  to {
    border-radius: 80% 50% 80% 60% / 80% 60% 50% 70%;
  }
}
